:root {
  --blue-500: #007fff;

  --yellow-500: rgb(255, 255, 70);
  --yellow-800: rgb(176, 176, 48);

  --cyan-500: rgb(98, 255, 255);
  --cyan-800: rgb(51, 168, 168);

  --neutral-800: #202020;

  --light-800: #dadada;
  --light-900: #ffffff;
}
